body {
}
.navbar-inverse {
    background-color: #f3a6ec;
    border-color: #f3a6ec;
}
.navbar-inverse .navbar-nav > li > a{
    color:white;
}
.navbar-inverse .navbar-brand {
    color:white;
}
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: pink;
    }

.course{
    list-style: none;
}
.course > li{
    position: relative;
    margin-bottom: 30px;
}
.course > li .date{
    text-align: center;
    background-color: #d41d50;
    color: white;
    width: 60px;
    border-radius: 8px;
}
.course > li .details{
    position: absolute;
    top: 0;
    left: 70px;
}